<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?opensourcegisdata\.com$ [NC]
RewriteRule ^(.*)$ https://opensourcegisdata.com/$1 [L,R=301]
</IfModule>
